<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <title>Fórum</title>
  </head>

  <body>

    <h1>Fórum</h1>
    
    <section id="posts">
            <!-- Abre loop com EJS para pegar cada post -->
                <h2><!-- Titulo do post--></h2>
                <div>
                    <!-- Texto do post -->
                </div>  
             <!-- Fecha loop -->
      </section>


    <!-- Criar form que permite ao usuário inserir titulo e mensagem de um novo post-->
    <form ...>
        <!-- ... -->
    </form>

  </body>
</html>
